body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h{
  align-content: center;
}
img{
  align-items: center;
  margin: 0 auto;
}
nav a{
  padding: 0 10px;
  background-color: grey;
  margin: 0 auto;
}
caption{
  font-size: 
}